body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 255, 166);
}
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel{
    width: 50%;
    height: 50%;
}